{% extends "layout.html" %}

{% block body %}

<div class="grid-container">
        <div class="navigation-bar grid-item-row-1">
            <div class="navigation-bar-left">
                <div>
                    <a href="/" class="active">Home</a>
                </div>
                <div>
                    <a href="/about-us">About Us</a>
                </div>
            </div>

            </div>
        </div>
        <div class="content-with-background-color ">
            <p>Nigerian Online NIN Registration</p>
        </div>
        
    </div>


{% endblock%}










